---
interface Props {
	title: string;
}

import '../styles/global.css'
import { AstroFont } from "astro-font";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
		  config={[
			{
			  src: [],
			  preload: false,
			  display: "swap",
			  name: "Poppins",
			  fallback: "sans-serif",
			  cssVariable: "font-poppins",
			  googleFontsURL: 'https://fonts.googleapis.com/css2?family=Poppins',
			},
		  ]}
		/>
	</head>
	<body class="bg-gray-100" >
		<slot />
	</body>
</html>
